/*-----------------------------*/
/* GENERAL SET UP */
/*-----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "Arial", sans-serif;
}

.row {
    max-width: 600px;
    margin: 0 auto;
}

/*-----------------------------*/
/* HEADER */
/*-----------------------------*/

.billboard {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0)), url(img/denali.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #ffffff;
    padding: 40px;
}

.billboard-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.profile-picture {
    display: block;
    position: relative;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #acacac;
}

h1 {
    font-size: 80px;
    font-weight: 200;
    margin: 0 auto;
}

h3 {
    font-size: 22px;
    font-weight: 100;
    margin: 20px auto;
}

/* ---------- nav bar ---------*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #000;
}

.logo {
    color: #acacac;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links {
    display: flex;
    background-color: #000;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style-type: none;
    border-bottom: 2px solid transparent;
}

.nav-links li:hover {
    border-bottom: 1px solid aqua;
    transition: 1s;
}

.nav-links a {
    color: #acacac;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover {
    color: aqua;
    transition: 1s;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 2px;
    background-color: #acacac;
    margin: 5px;
    transform: all 0.3s ease;
}

/*-----------------------------*/
/* ABOUT ME */
/*-----------------------------*/

.content {
    text-align: center;
    letter-spacing: 1px;
    line-height: 150%;
    margin: 40px auto;
}

h2 {
    margin: 40px 20% 10px 20%;
    text-transform: uppercase;
    font-weight: 400;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

h4 {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    padding: 30px;
}

.content p {
    font-size: 16px;
    padding: 30px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/*-----------------------------*/
/* SKILLS SECTION */
/*-----------------------------*/

.skills {
    position: relative;
    background-color: #ededed;
}

.skills-billboard {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 20vh;
    text-align: center;
}

.skills-label {
    position: relative;
    top: 40px;
}

.card-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    border: 2px solid grey;
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 10px 10px 5px grey;
}

.card img {
    height: 150px;
    width: 150px;
}

.card h2 {
    margin: 20px auto;
    font-weight: 400;
}

.card p {
    padding: 5px;
    font-size: 16px;
    min-width: 200px;
    max-width: 200px;
    color: #454545;
}

/*-----------------------------*/
/* INTERESTS SECTION */
/*-----------------------------*/

.interests {
    background-color: #d1d1d1;
}

.interest-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
}

.interest-item-wrapper {
    position: relative;
    overflow: hidden;
}

.interest-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* --- grid item content ------*/

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    left: 10%;
    right: 10%;
    color: transparent;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.logo-wrapper {
    font-size: 50px;
}

.subtitle {
    font-size: 50px;
    margin-bottom: 20px;
}

.img-text-wrapper p {
    font-weight: 300;
}

.img-text-wrapper:hover,
.img-text-wrapper:active {
    color: aqua;
    transition: 1s;
    background-color: none;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
    transform: scale(1.2);
}

/*-----------------------------*/
/* MEDIA QUERIES */
/*-----------------------------*/

@media screen and (max-width: 1024px) {
    .billboard-title {
        margin-top: 60px;
    }
    .profile-picture {
        display: block;
        position: relative;
        height: 200px;
        border-radius: 50%;
        border: 4px solid #acacac;
    }

    h1 {
        font-size: 60px;
        font-weight: 200;
        margin: 0 auto;
    }

    h3 {
        font-size: 16px;
        font-weight: 100;
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    
    .billboard-title {
        margin-top: 20px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        background-color: #000;
        flex-direction: column;
        align-items: center;
        width: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in;
        z-index: 1;
    }
    
    .nav-links li {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        display: none;
    }
    
    .nav-links.nav-active li {
        display: block;
    }
    
    .burger {
        display: block;
    }
    
    h1, h3 {
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .profile-picture {
        height: 150px;
        border: 2px solid #acacac;
    }
    
    h1 {
        font-size: 50px;
        margin-top: 20px;
        font-weight: 300;
    }
    
    h3 {
        margin-top: 10px;
        font-size: 16px;
    }
    
    .interest-items-wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 340px) {
    
    .profile-picture {
        height: 150px;
        margin-top: 20px;
        margin-bottom: -20px;
    }
    
    h1 {
        font-size: 26px;
        text-align: center;
        font-weight: 400;
        margin: 10px auto;
    }
    
    h3 {
        position: absolute;
        text-align: center;
    }
    
    h4 {
        font-size: 22px;
    }
    
    .billboard-title-right {
        position: relative;
        margin-top: 40px;
    }
}

@media screen and (max-width: 310px) {
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }
}

.nav-active {
    transform: translateX(0%);
    width: 50%;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}
